<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithShakapacker</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_pack_tag 'app' %>
  </body>
</html>
